<div class="row mt-1" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Classes.CourseDetails'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="form-group text-dark">
                <label for="coursedisplayCode" [translate]="'Classes.DisplayCode'"></label>
                <input [disabled]="true" class="form-control bg-white" id="coursedisplayCode" name="coursedisplayCode" type="text" [(ngModel)]="model.course.displayCode">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group text-dark">
                <label for="courseName" [translate]="'Classes.CourseName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="courseName" name="courseName" type="text" [(ngModel)]="model.course.name">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group text-dark">
                <label for="departmentName" [translate]="'Classes.DepartmentName'"></label>
                <input [disabled]="true" class="form-control bg-white" id="departmentName" name="departmentName" type="text" [(ngModel)]="model.course.department.name">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Classes.ClassesDetails'"></span>
      </form-header>
      <form-body>
        <app-classes-preview-form [model]="model"></app-classes-preview-form>
      </form-body>
    </form-collapsible>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Classes.TeachingDetails'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-12 col-md-3">
              <div class="form-group text-dark">
                <label for="numberOfStudents" [translate]="'Classes.NumberOfStudents'"></label>
                <input [disabled]="true" class="form-control bg-white" id="numberOfStudents" name="numberOfStudents" type="text" [(ngModel)]="model.numberOfStudents">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group text-dark">
                <label for="maxNumberOfStudents" [translate]="'Classes.MaxNumberOfStudents'"></label>
                <input [disabled]="true" class="form-control bg-white" id="maxNumberOfStudents" name="maxNumberOfStudents" type="text"
                       [(ngModel)]="model.maxNumberOfStudents">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group text-dark">
                <label for="weekHours" [translate]="'Classes.WeekHours'"></label>
                <input [disabled]="true" class="form-control bg-white" id="weekHours" name="weekHours" type="text" [(ngModel)]="model.weekHours">
              </div>
            </div>
            <div class="col-12 col-md-3">
              <div class="form-group text-dark">
                <label for="totalHours" [translate]="'Classes.TotalHours'"></label>
                <input [disabled]="true" class="form-control bg-white" id="totalHours" name="totalHours" type="text" [(ngModel)]="model.totalHours">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
