<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h5 class="mr-2 my-auto" [translate]="'Students.Theses'"></h5>
    <span class="font-xl mr-2 mr-lg-5 ml-auto my-auto">{{ theses ? theses.length : 0 }}</span>
    <a href="#/students/{{studentId}}/theses" class="text-primary my-auto"><span [translate]="'Students.More'"></span></a>
  </div>
</div>
