<div class="col-12 tab-navbar tab-container">
  <ul class="nav nav-tabs d-flex mb-5">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link pl-lg-5 pr-lg-5" [translate]="tab.data.title"
         [routerLink]="[tab.path]" [routerLinkActive]="'active'"></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>

</div>
