<div class="row mt-2" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <form-collapsible [collapsed]="false">
      <form-header>
        <span [translate]="'Students.UserInfo'"></span>
      </form-header>
      <form-body>
        <app-students-preview-form-component [model]="model"></app-students-preview-form-component>
      </form-body>
    </form-collapsible>
  </div>
</div>

<div class="row mt-3" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
          class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
          (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.RatingInfo'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studentStatus" [translate]="'Students.Status'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studentStatus" name="studentStatus"
                  type="text" [value]="'StudentStatuses.' + model.studentStatus.alternateName | translate">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="graduationTitle" [translate]="'Students.GraduationTitle'"></label>
                <input [disabled]="true" class="form-control bg-white" id="graduationTitle" name="graduationTitle"
                  type="text" [(ngModel)]="model.graduationTitle	">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studyProgram" [translate]="'Students.studyProgram'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studyProgram" name="studyProgram" type="text"
                  [(ngModel)]="model.studyProgram.name">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="specialty" [translate]="'Students.Specialty'"></label>
                <input [disabled]="true" class="form-control bg-white" id="specialty" name="specialty" type="text"
                  [(ngModel)]="model.specialty">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="studentIdentifier" [translate]="'Students.studentIdentifier'"></label>
                <input [disabled]="true" class="form-control bg-white" id="studentIdentifier" name="studentIdentifier"
                  type="text" [(ngModel)]="model.studentIdentifier">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionYear" [translate]="'Students.inscriptionYear'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionYear" name="inscriptionYear"
                  type="text" [(ngModel)]="model.inscriptionYear.alternateName">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="inscriptionPeriod" [translate]="'Students.inscriptionPeriod'"></label>
                <input [disabled]="true" class="form-control bg-white" id="inscriptionPeriod" name="inscriptionPeriod"
                  type="text" [value]="'Periods.' + model.inscriptionPeriod.alternateName | translate">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2" *ngIf="model">
  <div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card shadow-none border border-gray-200 text-secondary mb-2">
      <div class="card-body px-3 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
          class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
          (click)="collapsed1.value = !collapsed1.value">
          <span [translate]="'Students.Contact'"></span>
          <i class="collapsible  ml-3 pt-1 fa fa-chevron-up" [ngClass]=" {'fa-chevron-down' : !collapsed1.value}"></i>
        </a>
        <form *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
          <div class="row">
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeAddress" [translate]="'Students.HomeAddress'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeAddress" name="homeAddress" type="text"
                  [(ngModel)]="model.person.homeAddress">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCity" [translate]="'Students.HomeCity'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCity" name="homeCity" type="text"
                  [(ngModel)]="model.person.homeCity">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homeCountry" [translate]="'Students.HomeCountry'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homeCountry" name="homeCountry" type="text"
                  [(ngModel)]="model.person.homeCountry">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group text-dark">
                <label for="homePhone" [translate]="'Students.HomePhone'"></label>
                <input [disabled]="true" class="form-control bg-white" id="homePhone" name="homePhone" type="text"
                  [(ngModel)]="model.person.homePhone	">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>