<div *ngIf="model">
  <div class="card" *ngIf="model.length > 0">
    <div class="card-body ">
      <div>
        <a href="/#/instructors/{{this.id}}/dashboard/exams" class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
        <div class="row">
          <h5 [translate]="'Instructors.LastGrading'" class="mr-3 my-auto"></h5>
          <div class="text-gray-600 align-self-center col-auto font-xs pt-1 pl-1">
            <span [translate]="'Instructors.AcademicYear'" ></span>
            {{model[0]?.year?.alternateName}}
          </div>
        </div>
      </div>

      <div id="group-list"  class="flex-column">
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-none d-md-block " [translate]="'Classes.Course'"></div>
              <div class="sis--list-group-item_sm_column d-none d-md-block px-4" [translate]="'Classes.DisplayCode'"></div>
              <div class="sis--list-group-item_sm_column d-none d-md-block" [translate]="'Classes.DepartmentName'"></div>
              <div class="sis--list-group-item_sm_column d-none d-lg-block" [translate]="'Instructors.Status'"></div>
              <div class="sis--list-group-item_sm_column text-left"></div>`
            </div>
          </li>
        </ul>
        <ul class="sis--list-group sis--list-group-body">
          <li class="sis--list-group-item" *ngFor="let currentExam of model">
            <div class="d-flex justify-content-center align-items-center list-color">
              <div class="sis--list-group-item_lg_column text-truncate"><span class=" text-dark">{{ currentExam?.course?.name }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block"><span class="text-secondary">{{ currentExam?.course?.displayCode }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block "><span class="text-secondary">{{ currentExam?.course?.department?.abbreviation }}</span></div>
              <div class="sis--list-group-item_sm_column d-none d-xl-block text-center"><span  [ngClass]="(currentExam?.status?.alternateName == 'open' )?'open-grade':'text-secondary'">{{'ExamStatus.' +  currentExam?.status?.alternateName | translate}}</span></div>
              <div class="sis--list-group-item_sm_column text-right">
                <a href="/#/exams/{{currentExam?.id}}/preview/general" class="text-primary text-decoration-none"
                   [translate]="'Instructors.View'"></a>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div *ngIf="model.length == 0">
  <div class="card">
    <div class="card-header d-flex justify-content-between mt-3">
      <h5 class="mr-3  my-auto" [translate]="'Instructors.LastGrading'"></h5>
      <a href="/#/instructors/{{this.id}}/dashboard/exams"  class="text-primary  align-self-center mb-2 float-right ml-auto my-auto"><span [translate]="'Expandable.More'"></span></a>
    </div>
    <div class="card-body pt-0 pb-3">
      <div class="card-text row pb-2">
        <div class="col-auto text-dark">
          <span [translate]="'Instructors.NoExams'"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

