<div class="col-12 tab-navbar tab-container" *ngIf="model">
  <ul class="nav  d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/instructors/list']">
        <i class="fa fa-chevron-left pr-1"></i><span [translate]="'Instructors.Title'"></span></a>
    </li>
  </ul>
  <div class="row pt-2 pb-2 ">
    <div class="col-auto mr-auto">
      <h1 class="text-dark"> {{model.familyName}} {{model.givenName}}
        <span><i placement="bottom" id="tooltip"
                 [tooltip]="tooltipTemplate" class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span></h1>
    </div>
  </div>
</div>

<router-outlet></router-outlet>



<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.Am'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.id}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.Category'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ model.category}}</span>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Instructors.Department'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.department.name}} </span>
      </div>
    </div>
  </div>
</ng-template>


