<div>
    <div class="row">
        <div class="col-12">
            <app-advanced-table-search [table]="students"></app-advanced-table-search>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-advanced-table #students [height]="600" [config]="config"></app-advanced-table>
        </div>
    </div>
</div>