<div class="s--list-navbar d-none d-sm-block">

  <div id="collapse-header" [ngClass]="{'show':collapsed}" class="collapse multi-collapse">
    <form class="form-inline p-3 col">
      <div class="form-group col-7">
        <label class="pr-3" for="searchText" [translate]="'Tables.Search'"></label>
        <input (keydown)="onSearchKeyDown($event)" spellcheck="false" type="text" id="searchText" name="searchText"
          class="form-control col text-left" placeholder="{{ 'Tables.SearchPlaceholder' | translate }}">
      </div>
      <div class="col-5 text-right text-secondary" id="heading3">
        <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none"
          type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
          aria-controls="collapse3">
          <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.More'"></span>
          <i class="ml-2 pt-1 fa fa-chevron-down"></i>
        </button>
      </div>
    </form>
  </div>

  <div id="collapse3" [ngClass]="{'show':!collapsed}" class="collapse multi-collapse" aria-labelledby="heading3">
    <div class="row">
      <div class="col-sm-12">
        <div id="advanced-form">
          <ng-content select="advanced-search"></ng-content>
          <hr class="mt-0 mb-0" width="97%">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-inline pb-3 pt-3 pr-1 pl-1 col">
                <div class="form-group col-3">
                  <div class="d-flex flex-row w-100">
                    <label class="pr-3" for="selectBox" [translate]="'AdvancedSearch.SavedSearches'">Saved
                      Searches</label>
                    <select class="custom-select flex-grow-1">
                      <option [value]="null" [translate]="'AdvancedSearch.Choose'"></option>
                    </select>
                  </div>
                </div>
                <div class="text col-3">
                  <button type="button" class="btn btn-pill btn-light text-secondary"
                    [translate]="'AdvancedSearch.SaveCurrentSearch'"></button>
                </div>
                <div class="col-6 text-right text-secondary">
                  <button type="button" class="btn btn-success pl-5 pr-5 mr-5" (click)="onChange($event);"
                    [translate]="'Tables.Search'"></button>
                  <button class="d-inline-block btn btn-link collapsed float-right text-secondary text-decoration-none"
                    type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false"
                    aria-controls="collapse3">
                    <span class="d-none d-sm-inline" [translate]="'AdvancedSearch.Less'"></span>
                    <i class="ml-2 pt-1 fa fa-chevron-up"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
