<div>
  <div class="row">
    <div class="col-12">
      <app-advanced-table-search [table]="departments"></app-advanced-table-search>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table #table [height]="600" [config]="config"></app-advanced-table>
    </div>
  </div>
</div>