// add application custom styles here
@import "../../theme/scss/bootstrap/variables";
@import "../../theme/node_modules/bootstrap/scss/functions";
@import "~ngx-bootstrap/datepicker/bs-datepicker";

.sidebar {
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  background-color: #FFF;
  .sidebar-minimizer {
    background-color: #FFF;
  }
}

.universis-toast-container {
  top: 56px;
  right: 0;
}

@media (max-width: 991px){
  .app-header .navbar-toggler {
    display: inline-block !important;
  }
}
