<div class="row">
  <div class="col-12 my-3">
    <h5 [translate]="'Students.DeclaredStudents'"></h5>
  </div>
</div><div class="row">
  <div class="col-12 mb-4">
    <app-advanced-table #students></app-advanced-table>
  </div>
</div>
