<div *ngIf="model">
  <div *ngIf="model.length != 0">
    <div class="row mt-2" *ngFor="let request of model;index as i;">
      <div class="col-12">
        <card-collapsible>
          <card-header>
            <span class="mr-2">{{ request.dateCreated | date : 'shortDate' }} </span>
            <span class="mr-2">{{ 'StudentRequestActionsTypes.' + request.additionalType | translate }} </span>
            <span class="font-lg align-text-bottom" [ngClass]="{'text-primary': request?.actionStatus?.alternateName ==='PotentialActionStatus',
                                  'text-danger': (request?.actionStatus?.alternateName ==='FailedActionStatus') || request?.actionStatus?.alternateName ==='CancelledActionStatus',
                                  'text-success': request?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-primary': request?.actionStatus?.alternateName ==='ActiveActionStatus'}">
              {{'ActionStatusTypes.' + request.actionStatus.alternateName | translate }}
            </span>
          </card-header>
          <card-body>
            <app-requests-preview-form [model]="request"></app-requests-preview-form>
          </card-body>
        </card-collapsible>
      </div>
    </div>
  </div>
  <div *ngIf="model.length == 0">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-body">
                  <p class="card-text" [translate]="'Requests.NoRequests'"></p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
