<div>
    <h4 class="mb-3">Modals</h4>
    <div class="row">
        <div class="col-lg-12 mb-4">
            Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="containerModal1">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                Launch modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title text-center">The quick brown fox</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            The quick brown fox jumps over the lazy dog. The five boxing wizards jump quickly.
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary btn-ok">OK</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary btn-cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-4 col-lg-12">
            <app-highlight highlight="'#containerModal1'"></app-highlight>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <h4>Vertically centered</h4>
            Add .modal-dialog-centered to .modal-dialog to vertically center the modal.
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="containerModal2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalVertically">
                Launch modal
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalVertically" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title text-center">The quick brown fox</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            The quick brown fox jumps over the lazy dog. The five boxing wizards jump quickly.
                        </div>
                        <div class="modal-footer text-center">
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary btn-ok">Yes</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary btn-no">No</button>
                            <button type="button" data-dismiss="modal" class="btn btn-outline-secondary btn-cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-4 col-lg-12">
            <app-highlight highlight="'#containerModal2'"></app-highlight>
        </div>
    </div>

</div>
