<div>
    <h4 class="mb-3">Cards</h4>
    <div class="row">
        <div id="card1" class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="mt-2 col-lg-12">
            <app-highlight highlight="'#card1'"></app-highlight>
        </div>
    </div>

  <div>
    <h4 class="mb-3 ">Simple Card</h4>
    <div class="row ">
      <div id="card2" class="col-lg-8 col-md-6 col-sm-12">
        <div class="card shadow-none border border-gray-200 text-secondary">
          <div class="card-body">
            <div>
              <span class="float-right text-dark"> 09/04/2019  11:40</span>
              <div class="card-title  font-lg font-weight-normal pb-1">Simple Card Title 1</div>
            </div>
            <div class="card-text mb-4 pb-2">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
            <div class="card-title font-lg font-weight-normal pb-1">Simple Card Title 2</div>
            <div class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
      <div class="mt-2 col-lg-12">
        <app-highlight highlight="'#card2'"></app-highlight>
      </div>
    </div>

    <h4 class="mb-3">Group List Cards</h4>
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <div>
              <span class="text-primary font-lg align-self-center mb-2 float-right">More</span>
            <div class="row">
           <h3 class="card-title col-auto">Card title</h3>
              <span class="text-gray-600 align-self-center ml-4 mb-2 font-md col-auto"> Card subtitle-some more info</span>
          </div>
            </div>
            <div id="group-list"  class="flex-column">
              <ul class="sis--list-group sis--list-group-header">
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="sis--list-group-item_lg_column">Course</div>
                    <div class="sis--list-group-item_sm_column d-none d-md-block">Code</div>
                    <div class="sis--list-group-item_sm_column d-none d-xl-block">Teacher</div>
                    <div class="sis--list-group-item_md_column d-none d-lg-block">Exam Period</div>
                    <div class="sis--list-group-item_md_column"></div>`
                  </div>
                </li>
              </ul>
              <ul class="sis--list-group sis--list-group-body">
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column">Lesson #1</div>
                    <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary">Code #1</div>
                    <div class="sis--list-group-item_sm_column d-none d-xl-block">
                      <div>Teacher #1a</div>
                      <div>Teacher #1b</div>
                    </div>
                    <div class="sis--list-group-item_md_column d-none d-lg-block">FEBR</div>
                    <a href="#" class="sis--list-group-item_md_column text-primary text-decoration-none" style="text-align:right">Preview</a>
                  </div>
                </li>
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column">Lesson #2</div>
                    <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary">Code #2</div>
                    <div class="sis--list-group-item_sm_column d-none d-xl-block">
                      <div>Teacher #2</div>
                    </div>
                    <div class="sis--list-group-item_md_column d-none d-lg-block">SEPT</div>
                    <a href="#" class="sis--list-group-item_md_column text-primary text-decoration-none" style="text-align:right">Preview</a>
                  </div>
                </li>
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column">Lesson #3</div>
                    <div class="sis--list-group-item_sm_column d-none d-md-block text-secondary">Code #3</div>
                    <div class="sis--list-group-item_sm_column d-none d-xl-block">
                      <div>Teacher #3a</div>
                      <div>Teacher #3b</div>
                    </div>
                    <div class="sis--list-group-item_md_column d-none d-lg-block">FEBR</div>
                    <a href="#" class="sis--list-group-item_md_column text-primary text-decoration-none" style="text-align:right">Preview</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="text-gray-600 mt-3">17 Classes</div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <h4 class="mb-3">Inline Cards</h4>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>

</div>
